*{
    margin: 0;
    padding: 0;

}
main {
    background-image: url(../img/background.jpeg);
    height: 800px;
    width: 100%;
    background-size: cover;
}
main h1 {
    color: rgb(7, 15, 75);
    padding-left: 50px;
    padding-top: 60px;
    }
main h3 {
    color: rgb(7, 15, 75);
    padding-left: 50px;
}

.products .product {
    display: flex;
    justify-content: center;
    padding: 20px;
    align-items: center;
}
.products .product .info{
    padding-left: 20px;
}

.footer {
    background-color: rgb(42, 165, 163);
    text-align: center;
    padding: 10px  ;
}